@import "variables";
@import "mixins";

.features {

  margin-top: 5vh;

  .features__wrapper {

    width: 327px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0;
    grid-template-areas:
    "img"
    "img"
    "title"
    "text";

    .feature-item {
      text-align: center;

      &__img {
        grid-area: img;
        display: flex;
        margin: auto;
        width: 120px;
        height: 124px;
        background-color: $darkBlue;
        border-radius: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
      }

      &__title {
        grid-area: title;
        font-size: 18px;
        font-weight: bolder;
      }

      &__text {
        grid-area: text;
        font-size: 15px;
        font-weight: lighter;
        color: $gray;
      }

    }

  }

}

// Images
#passions {
  background-image: url("./../assets/illustration-passions.svg");
}

#financial {
  background-image: url("./../assets/illustration-financial-freedom.svg");
}

#lifestyle {
  background-image: url("./../assets/illustration-lifestyle.svg");
}

#work {
  background-image: url("./../assets/illustration-work-anywhere.svg");
  background-size: 65%;
}
