@import "variables";
@import "mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $manrope;
  background-color: $veryDarkBlue;
  color: $white;
}

.blueText {
  color: $lightBlue;
}

// Form message

#info-message {
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 0.75rem;

  @include breakpoint-up(tablet){
    display: flex;
    margin: auto;
    text-align: left;
    width: 26.5rem;
  }
}

.validate-msg {
  text-align: center;
  color: $lightBlue;
}

.error-msg {
  text-align: center;
  color: $errorRed;
}

.error-border {
  border: 0.125rem solid $errorRed !important;
}

// Visibility

.hide-for-mobile{
  @include breakpoint-down(tablet){
    display: none;
  }
}

.hide-for-tablet {
  @include breakpoint-up(tablet){
    display: none;
  }
}
