// Fonts
$manrope: 'Manrope', sans-serif;

// Colors
$lightBlue: hsl(179, 80%, 58%);
$darkBlue: hsl(206, 84%, 22%);
$veryDarkBlue: hsl(230, 60%, 8%);
$white: hsl(0, 0%, 100%);
$gray: hsl(224, 14%, 53%);
$errorRed: hsl(343, 100%, 58%);

